<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">   
</head>
<body>
    <header>
        <img src="/static/images/logo.png" alt="logo.png">
        <p>mump.26</p>
    </header>
    <nav>
        <div class="nav_links">
            <a href="/">INICIO</a>
            <a href="/sobre_nosotros">SOBRE NOSOTROS</a>
            <a href="/recetario">RECETARIO</a>
        </div>
        <div class="nav_sesion">
            <a href="/inicio_sesion">INICIAR SESIÓN</a>
        </div>
    </nav>
    <main>
        <h1>PÁGINA PRINCIPAL</h1>
        <section class="main_section">
            <img src="/static/images/foto2342.png" alt="foto2342.png">
            <p>GastroLab es la plataforma digital del centro. Aquí encontrarás recetas, menús semanales y contenido exclusivo, todo en un solo lugar.</p>
        </section>
        <section class="main_section2">
            <p>La gastronomía también se digitaliza. En GastroLab encontrarás recetas, menús y contenido exclusivo del centro, todo organizado en un solo sitio. Porque perder una receta entre papeles ya es historia.</p>
        </section>
        {% if session["usuario"] %}
            <section>
                <p>Bienvenido, {{session["usuario"]}}!</p>
            </section>    
        {% endif %}
    </main>
<footer>
<div class="footer-content">
    <p class="footer-title">Contacto</p>
    <div class="footer-links">
        <a href="mailto:gastrolab@gmail.com">📧 dragonazul@gmail.com</a>
        <a href="https://instagram.com/gastrolab" target="_blank">📸 @mump.26</a>
        <a href="https://github.com/dragonazul" target="_blank">💻 Our GitHub</a>
    </div>
    <p class="footer-copy">© 2026 GastroLab · Dragon Azul</p>
</div>
</footer>
</body>
</html>