<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio_sesion.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
</head>
<body>
    <header>
        <img src="/static/images/logo.png" alt="logo.png">
        <p>nump</p>
    </header>
    <nav>
        <div class="nav_links">
            <a href="/">INICIO</a>
            <a href="/sobre_nosotros">SOBRE NOSOTROS</a>
        </div>
    </nav>
    <main>
        <section>
                <form action="/inicio_sesion" method="post">
                    <div class="form_wrap">
                        <h1>Iniciar Sesión</h1>
                        <p>Accede a tu cuenta de <b>GastroLab</b></p>
                        <div class="input-wrapper">
                            <input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">
                        </div>
                        <div class="input-wrapper">
                            <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña">
                        </div>
                        <div class="submit-wrapper">
                            <input type="submit" value="Iniciar Sesión   &#129034;">
                        </div>
                        {% if error %}
                            <p class="error_msg">Introduce credenciales correctas</p>
                        {% endif %}
                    </div>
                </form>
        </section>
    </main>
</body>
</html>